.h1
{
    color: red;
    font-style: oblique;

}
.d1
{
    border: 1px black solid ;
    height: 270px;
    width: 80px;
    border-radius: 15px;
    margin: 70px 0px 0px 70px;
    background-color:rgb(65, 57, 57);
}
.d2
{
    border: 6px black solid ;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: red;
    margin: -245px 0px 0px 80px;
}
.d3
{
    border: 6px black solid ;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: orange;
    margin: 20px 0px 0px 80px;  
}
.d4
{
    border: 6px black solid ;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: green;
    margin: 20px 0px 0px 80px;
}
.d5
{
    border: 1px solid rgb(65, 57, 57) ;
    height: 400px;
    width: 20px;
    background-color:rgb(65, 57, 57) ;
    margin: 20px 0px 0px 100px;
}
.d6
{
    border: 1px solid rgb(65, 57, 57) ;
    height: 60px;
    width: 120px;
    background-color:rgb(65, 57, 57) ;
    margin: 0px 0px 0px 50px; 
    border-radius: 40px 40px 0px 0px ;
}
.d7
{
    font-size: larger;
    color: black;
    margin: -440px 0px 0px 140px;
}
#a1
{
    color: red;
    font-size: x-large;
}
#a2
{
    color: orange;
    font-size:x-large ;
}
.d8
{
    font-size: larger;
    color: black;
    margin: 0px 0px 0px 140px;
}